@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  font-family: "Raleway";
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}

.title {
  background-color: teal;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 2rem;
}
.title span {
  font-family: Montserrat;
  font-weight: 700;
  background-color: #000;
  display: inline-block;
  color: teal;
  padding: 20px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50rem;
  border: 1px solid #ddd;
  margin: 0 auto;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: teal;
}
.btn {
  width: 100px;
  padding: 15px;
  margin: 5px;
  font-family: "Montserrat";
  font-weight: 700;
  background-color: #000;
  border: none;
  outline: none;
  border-radius: 5px;
  color: teal;
}

.btns-container {
  transform: translateX(40%);
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
div.form span {
  float: right;
}
.form {
  border: 3px solid #000;
  padding: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background-color: teal;
  font-size: 1.5rem;
  margin: 6rem auto;
}
.form input[type="checkbox"] {
  margin: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}
.form input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  margin-bottom: 1rem;
}

label {
  padding: rem;
}
.checkbox {
  text-align: center;
}
.btn_form {
  width: 100%;
}
.close-btn {
  float: right;
}
form h1 {
  text-align: center;
  margin-top: 10px;
  clear: both;
}
